.navbar-nav .nav-link:hover {
    background-color: green;
    color: white;
  }
  
  .navbar {
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-end;
  }